@font-face {
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: local('Mina'), local('Mina-Regular'), url(https://fonts.gstatic.com/s/mina/v1/-nFzOGc18vARnzhp7w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* generic body */

body {
    background-color: rgb(36, 36, 36);
}

  /* LANDING PAGE */

.landingpage {
    background-color: rgb(36, 36, 36);
    color: rgb(245, 238, 238);
    font-family: 'Mina', sans-serif;
}

.landingpage-div {
    text-align: center;
}

.title {
    font-size: 100px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    margin: 0 auto;
    text-align: center;
}

.button1 {
    border: 2px solid white;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.button1:hover {
    background-color: white;
    color: rgb(36, 36, 36);
}

/* navigation bar */ 

.body {
    padding-left: 0;
    margin-left: 0;
}
.nav {
    padding-left: 0;
    margin-left: 0;
}

.nav ul {
    list-style-type: none; /* removes the bullets */
    background-color: rgb(105, 105, 105);
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

.nav-item a {
    color: white;
    font-family: 'Mina';
    width: 80px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    float: left; /*needed for display*/
    display: inline-block; /*items naast elkaar weergeven ipv onder elkaar*/
    border-right: 1px solid white;
}

.nav-item.active a {
    background-color: rgb(40, 116, 40);
}

.nav-item a:hover {
    background-color: black;
    color: white;
}

/* news grid */ 

.grid {
    display: grid;
    width: 80%;
    height: 70%;
    margin-top: 200px;
    grid-template: repeat(5, 1fr) / 120px 1000px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    color: white;
    font-family: 'Mina';
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 20px 20px;
}

.grid img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.grid-item {
    background-color: rgb(105, 105, 105);

}
